<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>

<body>
  <!-- Content starts -->
  <section class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content"> 
    <div class="media text-muted pt-3">       
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Logout from your session</strong>
        You can now logout from the app. If enabled, you can also invoke the Single Logout (SLO) that invalidates client application
        sessions in addition to its own SSO session (IdP-side).
      </p>
    </div> 
    <small class="d-block text-right mt-3" id="sso-btn">
      <a th:href="@{/saml/login}" class="btn btn-spring btn-sm">
        <i class="fas fa-rocket"></i> Get started</a>
    </small>
  </section>
  <!-- Content ends -->
<body>
  
</html>